@theme inline {
  --font-heading: var(--font-heading);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --text-2xs: var(--font-size-2xs);
  --text-2xs--line-height: var(--line-height-2xs);
  --text-xs: var(--font-size-xs);
  --text-xs--line-height: var(--line-height-xs);
  --text-sm: var(--font-size-sm);
  --text-sm--line-height: var(--line-height-sm);
  --text-base: var(--font-size-base);
  --text-base--line-height: var(--line-height-base);
  --text-lg: var(--font-size-lg);
  --text-lg--line-height: var(--line-height-lg);
  --text-xl: var(--font-size-xl);
  --text-xl--line-height: var(--line-height-xl);
  --text-2xl: var(--font-size-2xl);
  --text-2xl--line-height: var(--line-height-2xl);
  --color-canvas-host-sidebar-ring: var(--canvas-host-sidebar-ring);
  --color-canvas-host-sidebar-border: var(--canvas-host-sidebar-border);
  --color-canvas-host-sidebar-accent-foreground: var(--canvas-host-sidebar-accent-foreground);
  --color-canvas-host-sidebar-accent: var(--canvas-host-sidebar-accent);
  --color-canvas-host-sidebar-primary-foreground: var(--canvas-host-sidebar-primary-foreground);
  --color-canvas-host-sidebar-primary: var(--canvas-host-sidebar-primary);
  --color-canvas-host-sidebar-foreground: var(--canvas-host-sidebar-foreground);
  --color-canvas-host-sidebar: var(--canvas-host-sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-chart-background: var(--chart-background);
  --color-chart-foreground: var(--chart-foreground);
  --color-chart-foreground-muted: var(--chart-foreground-muted);
  --color-chart-crosshair: var(--chart-crosshair);
  --color-chart-grid: var(--chart-grid);
  --color-chart-tooltip-background: var(--chart-tooltip-background);
  --color-chart-tooltip-foreground: var(--chart-tooltip-foreground);
  --color-chart-tooltip-muted: var(--chart-tooltip-muted);
  --color-chart-marker-background: var(--chart-marker-background);
  --color-chart-marker-border: var(--chart-marker-border);
  --color-chart-marker-foreground: var(--chart-marker-foreground);
  --color-chart-ring-background: var(--chart-ring-background);
  --color-chart-label: var(--chart-label);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
