@layer base {
  * {
    @apply border-shell-border-default;
  }

  html,
  body,
  #root {
    height: 100%;
    min-height: 100%;
  }

  body {
    @apply bg-shell-app-surface text-shell-text-primary antialiased;
    font-family: var(--font-sans);
  }
}
